html
  head
    include details.css
  body.details
    div.material
      h3 #{env.course}
      <iframe width="420" height="315" src="http://www.youtube.com/embed/TQvVLhWOiis" frameborder="0" allowfullscreen></iframe>
    div.testing
      h1 Test Your Knowledge
    div.comments
      h1 comment section
      h2 Great Video
        p says an idiot